@import url("https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: "josefin sans", sans-serif;
}

p {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 20px;
  color: #130f16;
  font-weight: 600;
}

h1.title {
  margin-top: 20px;
  color: #fb2274;
  font-family: "Allura", cursive;
  text-transform: uppercase;
  font-size: 38px;
  word-spacing: 25px;
  letter-spacing: 5px;
}
.btn a {
  display: block;
  width: 180px;
  height: 35px;
  border: 2px solid #fb2274;
  line-height: 35px;
  margin: 25px auto 0;
  text-align: center;
  color: #001a21;
  font-weight: 900;
}
.main_container {
  position: relative;
}
/* Navigation bar */
.navbar {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
}
.logo a {
  font-family: "Allura", cursive;
  font-size: 32px;
  color: #fb2274;
}
.navbar {
  background-color: #fcd7d7;
}
.navbar .navbar_items ul {
  display: flex;
}
.navbar .navbar_items ul li {
  text-transform: uppercase;
  margin: 0 10px; /*added*/
}
.navbar .navbar_items ul li a {
  color: #130f16;
  font-weight: 900;
}
/* image */
.banner_image {
  background: url("../images/bake-img.jpg") no-repeat top center;
  background-size: cover;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner_content {
  text-align: center;
  color: #fb2274;
}
.banner_content h1 {
  text-transform: uppercase;
  line-height: 38px;
  margin-bottom: 15px;
}
.banner_content h1 span {
  color: #fb2274;
}

/* About */
.about {
  padding: 5% 10%;
  text-align: center;
}

/*Specials*/

.Specials {
  background: #f5f5f5;
}
.Specials {
  padding: 5% 10%;
  text-align: center;
}

.diff_services {
  display: flex;
  margin-top: 35px;
  justify-content: space-between;
}
.diff_service_item {
  width: 30%;
}
.diff_service_item img {
  width: 100%;
  margin-bottom: 25px;
}
.diff_service_item h3 {
  color: #fb2274;
  margin-bottom: 15px;
}

/* Contact Us */
.contactus {
  padding: 5% 10%;
  text-align: center;
}

.form_input {
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: 900;
}
.form_input input[type="text"] {
  width: 250px;
  padding: 12px 20px;
  border: 2px solid #fcd7d7;
}
.form_input textarea {
  width: 250px;
  padding: 12px 20px;
  height: 80px;
  resize: none;
  border: 1px solid #fcd7d7;
}

/* our team */
.ourteam {
  padding: 5% 10%;
  text-align: center;
}
.ourteam {
  background: #f5f5f5;
}
.ourteam h1 {
  background-color: #fb2274;
  color: #fff;
  margin-bottom: 10px;
}
.ourteam_wrapper .team {
  display: flex;
  justify-content: space-between;
}
/*.ourteam_wrapper .team-1 .team {
  margin-bottom: 25px;
}*/
.ourteam_wrapper .team_member {
  width: 30%;
  height: auto;
  cursor: pointer;
  overflow: hidden;
}
.ourteam_wrapper .team_member img {
  width: 100%;
  display: block;
  height: auto;
}
.ourteam_wrapper .team_member:hover img {
  transform: scale(1.1);
}
.ourteam_wrapper .team_member p {
  margin-top: 10px;
  padding: 20px 20px;
  background-color: #fcd7d7;
  color: #130f16;
}
/* footer */
footer {
  background: #f5f5f5;
  padding: 90px 0;
}
.footer_container h1 {
  font-family: "Allura", cursive;
  font-size: 32px;
  color: #fb2274;
}
.footer_container {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}
.social_media {
  margin: 20px 0;
}
.social_media a {
  color: #001a21;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: 0.3s linear;
}
.social_media a:hover {
  color: #fb2274;
}

.contact_details h1 {
  font-family: "josefin sans", sans-serif;
  font-size: 26px;
}
.footer-font {
  margin: 20px 0;
}
.right_col h1 {
  font-family: "josefin sans", sans-serif;
  font-size: 26px;
}
.border {
  margin: 20px 0;
}
.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 900;
}
.txtb {
  flex: 1;
  padding: 16px 40px;
  font-size: 14px;
  margin-left: 5px;
  color: #001a21;
  background: #fff;
  border: 2px solid #fb2274;
  font-weight: 900;
  outline: none;
  border-radius: 30px;
}
.button {
  padding: 16px 40px;
  font-size: 16px;
  border: 2px solid #fb2274;
  background: #fff;
  color: #001a21;
  font-weight: 900;
  outline: none;
  border-radius: 25px;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity 0.3s linear;
}
.button:hover {
  opacity: 0.7;
}

/* sort up*/
.sort_up {
  color: #001a21;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: 0.3s linear;
  background: #fff;
}
/* arrow */
.arrow {
  position: fixed;
  bottom: 25px;
  right: 25px;
  height: 40px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  background: #fb2274;
  border-radius: 50%;
}
.arrow img {
  width: 20px;
  height: 20px;
  border-radius: 45%;
}

/* media querie */

@media (max-width: 720px) {
  .navbar {
    height: auto;
    flex-direction: column;
  }

  .navbar ul {
    flex-direction: column;
    text-align: center;
  }
  .logo {
    margin-bottom: 25px;
  }
  .navbar ul li {
    margin-bottom: 5px;
  }
  .banner_content {
    margin-top: 35px;
  }
  .ourteam .team_member p {
    padding: 10px 10px;
  }
  .button {
    margin-top: 15px;
  }
}
@media (max-width: 960px) {
  .footer_container {
    max-width: 600px;
  }
  .right_col {
    width: 100%;
    margin-bottom: 60px;
  }
  .left_col {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 480px) {
  p {
    font-size: 12px;
  }
}
